.add-task {
    border: none;
    background: transparent;
    color: #fff;
    width: 300px;
    margin: 5px auto;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    overflow: visible;
    padding: 8px 5px;
    height: 41px;
}

.add-task:focus {
    outline: none;
    cursor: text;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}